
# Pandas
- Data Analaysis Library
- Time Series (Single Dimension)
- DataFrame( Multi Dimension)

In [1]:
import pandas as pd

In [2]:
x = pd.Series([1,2,3,4])

In [3]:
x

0    1
1    2
2    3
3    4
dtype: int64

In [4]:
type(x)

pandas.core.series.Series

In [5]:
x.index

RangeIndex(start=0, stop=4, step=1)

In [6]:
x.values

array([1, 2, 3, 4], dtype=int64)

In [7]:
# we can change the indexing of the values. These are labels although the orginal indexing exist.
x.index = ['one', 'two', 'three', 'four']

In [8]:
x

one      1
two      2
three    3
four     4
dtype: int64

In [9]:
# Multiplying the whole dataset values with any integer
x * 10

one      10
two      20
three    30
four     40
dtype: int64

In [10]:
# we can access the values by its label
x['one']

1

In [11]:
# default index also works
x[0]

1

In [12]:
# customized Indexing
x1 = pd.Series([12,34,23,23] , index = ['Apple', 'Banana', 'Orange', 'gauvas'])

In [13]:
x1

Apple     12
Banana    34
Orange    23
gauvas    23
dtype: int64

# Adding Two Series
    - just the value with the same indexing will be added. other will be considered NaN.
    - No matter if the number of value is similar or not. it will be added. 
    - Those index which are similar will be added and the rest of the index will be considered Nan

In [14]:
x

one      1
two      2
three    3
four     4
dtype: int64

In [15]:
x1

Apple     12
Banana    34
Orange    23
gauvas    23
dtype: int64

In [16]:
# here you can see the example
x + x1

Apple    NaN
Banana   NaN
Orange   NaN
four     NaN
gauvas   NaN
one      NaN
three    NaN
two      NaN
dtype: float64

In [17]:
x2 = pd.Series(range(5))
x3 = pd.Series(range(4))

In [18]:
# The frist have five value but the second one has 4 values so frist 4 number will be added but the fifth number will be
# taken as NaN
x2 + x3

0    0.0
1    2.0
2    4.0
3    6.0
4    NaN
dtype: float64

# Slicing
    - It is similar to the np.array

In [20]:
# [start:end:step]
x1[1:4]

Banana    34
Orange    23
gauvas    23
dtype: int64

# lambda
    - lambda return:body

In [21]:
x1

Apple     12
Banana    34
Orange    23
gauvas    23
dtype: int64

In [24]:
# apply method
import numpy as np
x1.apply(lambda x: np.where( x > 15, "Pass", "Fails"))

Apple     Fails
Banana     Pass
Orange     Pass
gauvas     Pass
dtype: object

In [34]:
[i for i in dir(x1) if i != '__']

['Apple',
 'Banana',
 'Orange',
 'T',
 '_AXIS_LEN',
 '_AXIS_ORDERS',
 '_AXIS_TO_AXIS_NUMBER',
 '_HANDLED_TYPES',
 '__abs__',
 '__add__',
 '__and__',
 '__annotations__',
 '__array__',
 '__array_priority__',
 '__array_ufunc__',
 '__array_wrap__',
 '__bool__',
 '__class__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__float__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__imod__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__long__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_accum_func',
 '_add_numeric_operations',
 '_agg_by_level',
 '_agg_examples_doc',
 '_agg_see_also_doc',
 '_align_frame',
 '_align_series',
 '_append',
 '_arith_method',
 '_as_manager',
 '_attrs',
 '_binop',
 '_can_hold_na',
 '_check_inplace_and_allows_duplicate_labels',
 '_check_inplace_setting',
 '_check_is_chained_assignment_possible',
 '_check_label_or_level_ambiguity',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_cmp_method',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_axes_from_arguments',
 '_construct_result',
 '_constructor',
 '_constructor_expanddim',
 '_convert',
 '_convert_dtypes',
 '_data',
 '_dir_additions',
 '_dir_deletions',
 '_drop_axis',
 '_drop_labels_or_levels',
 '_duplicated',
 '_find_valid_index',
 '_flags',
 '_from_mgr',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cacher',
 '_get_cleaned_column_resolvers',
 '_get_index_resolvers',
 '_get_label_or_level_values',
 '_get_numeric_data',
 '_get_value',
 '_get_values',
 '_get_values_tuple',
 '_get_with',
 '_gotitem',
 '_hidden_attrs',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_init_dict',
 '_init_mgr',
 '_inplace_method',
 '_internal_names',
 '_internal_names_set',
 '_is_cached',
 '_is_copy',
 '_is_label_or_level_reference',
 '_is_label_reference',
 '_is_level_reference',
 '_is_mixed_type',
 '_is_view',
 '_item_cache',
 '_ixs',
 '_logical_func',
 '_logical_method',
 '_map_values',
 '_maybe_update_cacher',
 '_memory_usage',
 '_metadata',
 '_mgr',
 '_min_count_stat_function',
 '_name',
 '_needs_reindex_multi',
 '_protect_consolidate',
 '_reduce',
 '_reindex_axes',
 '_reindex_indexer',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_rename',
 '_replace_single',
 '_repr_data_resource_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_set_as_cached',
 '_set_axis',
 '_set_axis_name',
 '_set_axis_nocheck',
 '_set_is_copy',
 '_set_labels',
 '_set_name',
 '_set_value',
 '_set_values',
 '_set_with',
 '_set_with_engine',
 '_slice',
 '_stat_axis',
 '_stat_axis_name',
 '_stat_axis_number',
 '_stat_function',
 '_stat_function_ddof',
 '_take_with_is_copy',
 '_typ',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'append',
 'apply',
 'argmax',
 'argmin',
 'argsort',
 'array',
 'asfreq',
 'asof',
 'astype',
 'at',
 'at_time',
 'attrs',
 'autocorr',
 'axes',
 'backfill',
 'between',
 'between_time',
 'bfill',
 'bool',
 'clip',
 'combine',
 'combine_first',
 'compare',
 'convert_dtypes',
 'copy',
 'corr',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'describe',
 'diff',
 'div',
 'divide',
 'divmod',
 'dot',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dtype',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'ewm',
 'expanding',
 'explode',
 'factorize',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'flags',
 'floordiv',
 'gauvas',
 'ge',
 'get',
 'groupby',
 'gt',
 'hasnans',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'infer_objects',
 'info',
 'interpolate',
 'is_monotonic',
 'is_monotonic_decreasing',
 'is_monotonic_increasing',
 'is_unique',
 'isin',
 'isna',
 'isnull',
 'item',
 'items',
 'iteritems',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lt',
 'mad',
 'map',
 'mask',
 'max',
 'mean',
 'median',
 'memory_usage',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'name',
 'nbytes',
 'ndim',
 'ne',
 'nlargest',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pad',
 'pct_change',
 'pipe',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'radd',
 'rank',
 'ravel',
 'rdiv',
 'rdivmod',
 'reindex',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'repeat',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'searchsorted',
 'sem',
 'set_axis',
 'set_flags',
 'shape',
 'shift',
 'size',
 'skew',
 'slice_shift',
 'sort_index',
 'sort_values',
 'squeeze',
 'std',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'to_clipboard',
 'to_csv',
 'to_dict',
 'to_excel',
 'to_frame',
 'to_hdf',
 'to_json',
 'to_latex',
 'to_list',
 'to_markdown',
 'to_numpy',
 'to_period',
 'to_pickle',
 'to_sql',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tz_convert',
 'tz_localize',
 'unique',
 'unstack',
 'update',
 'value_counts',
 'values',
 'var',
 'view',
 'where',
 'xs']

In [37]:
# giving indexing of other series. it will send 11 to all the index
x3 = pd.Series(11,index = x1.index)
x3

Apple     11
Banana    11
Orange    11
gauvas    11
dtype: int64

In [44]:
# if the indexing is not similar to the values then it will throw an error
x3 = pd.Series(range(3), index = x1.index)
x3

ValueError: Length of values (3) does not match length of index (4)

In [50]:
x4 = pd.Series(np.random.randn(5))
x4

0    0.457799
1   -0.110956
2    0.574431
3    1.846565
4   -0.145457
dtype: float64

In [85]:
#linspace(lower value,Higher value, size )
x5  = pd.Series(np.linspace(0,8,5))
x6  = pd.Series(np.linspace(4,8,5))

In [86]:
x5.size

5

In [87]:
x5

0    0.0
1    2.0
2    4.0
3    6.0
4    8.0
dtype: float64

In [88]:

x6

0    4.0
1    5.0
2    6.0
3    7.0
4    8.0
dtype: float64

In [135]:
# concatenating two data causes problem in the index
new1 = pd.concat([x5,x6])
new1

0    0.0
1    2.0
2    4.0
3    6.0
4    8.0
0    4.0
1    5.0
2    6.0
3    7.0
4    8.0
dtype: float64

In [142]:
# to reset the index we use reset_index
new2 = new1.reset_index(drop = True)
new2

0    0.0
1    2.0
2    4.0
3    6.0
4    8.0
5    4.0
6    5.0
7    6.0
8    7.0
9    8.0
dtype: float64

In [143]:
# to remove row from data
new2 = new2.drop(4)
new2
# we got a prolem with a indexing as you can see 4 is missing so we need to re arrange the indexing.

0    0.0
1    2.0
2    4.0
3    6.0
5    4.0
6    5.0
7    6.0
8    7.0
9    8.0
dtype: float64

In [156]:
new3  = new2.reset_index(drop = True)
new3

0    0.0
1    2.0
2    4.0
3    6.0
4    4.0
5    5.0
6    6.0
7    7.0
8    8.0
dtype: float64

In [157]:
# updating or replacing the value
new3[4] = 342
new3

0      0.0
1      2.0
2      4.0
3      6.0
4    342.0
5      5.0
6      6.0
7      7.0
8      8.0
dtype: float64

In [158]:
# we can also give arange of the value ot update the series
new3[2:6] = 100

In [159]:
del new3[4]

In [160]:
new3

0      0.0
1      2.0
2    100.0
3    100.0
5    100.0
6      6.0
7      7.0
8      8.0
dtype: float64

In [163]:
# to make copy of series.
new4 = new3.copy()

In [164]:
new4

0      0.0
1      2.0
2    100.0
3    100.0
5    100.0
6      6.0
7      7.0
8      8.0
dtype: float64